{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block javascripts %}
    {% block importmap %}{{ importmap(['app', 'home_page_show']) }}{% endblock %}
{% endblock %}

{% block body %}
<div class="container product-detail">
    <div class="row">
        <!-- Image produit -->
        <div class="col-md-6">
            {% if product.image %}
                <img src="{{ asset('uploads/images/' ~ product.image) }}" class="product-img" alt="{{ product.name }}">
            {% else %}
                <img src="https://via.placeholder.com/500x400" class="product-img" alt="Image indisponible">
            {% endif %}
        </div>

        <!-- Infos produit -->
        <div class="col-md-6 d-flex flex-column justify-content-center">
            <h1 class="product-title">{{ product.name }}</h1>
            <p class="text-muted">Stock : {{ product.stock }}</p>
            <p>{{ product.description }}</p>
            <p class="product-price">{{ product.price }} €</p>

            <div class="mt-4">
                <a href="{{path('app_cart_add', {'id':product.id}) }}" class="btn btn-success btn-custom me-2">Ajouter au panier</a>
                <a href="{{ path('app_home_page') }}" class="btn btn-outline-secondary btn-custom">Retour</a>
            </div>
        </div>
    </div>
     <h2 class="mt-5">Derniers produits ajoutés</h2>
    <div class="row g-4">
        {% for product in products %}
            <div class="col-md-4 col-sm-6">
                <a href="{{ path('app_home_product_show', {id: product.id}) }}" class="product-card">
                    {% if product.image %}
                        <img src="{{ asset('uploads/images/' ~ product.image) }}" class="product-img card-img-top" alt="{{ product.name }}">
                    {% else %}
                        <img src="https://via.placeholder.com/300x200" class="product-img card-img-top" alt="Image indisponible">
                    {% endif %}

                    <div class="card-body d-flex flex-column">
                        <h5 class="product-title">{{ product.name }}</h5>
                        <p class="product-description mb-3">
                            {{ product.description|slice(0, 100) }}...
                        </p>
                        <div class="mt-auto">
                            <p class="product-price">{{ product.price }} €</p>
                            <a href="{{path('app_cart_add', {'id':product.id}) }}">Ajouter au panier</a>
                        </div>
                    </div>
                </a>
            </div>
        {% else %}
            <p class="text-center">Aucun produit disponible.</p>
        {% endfor %}
    </div>

</div>
{% endblock %}
