<div class="col-md-4 col-sm-6">
        <a href="{{ path('app_home_product_show', {id: product.id}) }}" class="product-card">
            {% if product.image %}
                <img src="{{ asset('uploads/images/' ~ product.image) }}" class="product-img card-img-top" alt="{{ product.name }}">
            {% else %}
                <img src="https://via.placeholder.com/300x200" class="product-img card-img-top" alt="Image indisponible">
            {% endif %}

            <div class="card-body d-flex flex-column">
                <h5 class="product-title">{{ product.name }}</h5>
                <p class="product-description mb-3">
                    {{ product.description|slice(0, 100) }}...
                </p>
                <div class="mt-auto">
                    <p class="product-price">{{ product.price }} €</p>
                </div>
                <div class="mt-auto">
                    <p class="product-stock text-danger">{{ product.stock }} en stock.</p>
                </div>
                {# <a class="lienAjouterPanier" href="{{path('app_cart_add', {'id':product.id}) }}">Ajouter dans le panier</a> #}
                <button class="lienAjouterPanier btn-sobre text-center"
                        onclick="location.href='{{ path('app_cart_add', { id: product.id }) }}'">
                
                Ajouter au panier
                {# <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M3 4h2l3.6 7.59-1.35 2.44A2 2 0 0 0 9 17h10a2 2 0 0 0 2-2v-5H7.42l-.93-2H3z"/>
                    <circle cx="9" cy="21" r="1.5"/>
                    <circle cx="18" cy="21" r="1.5"/>
                </svg> #}
                </button>



            </div>
        </a>
</div>