{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
<div class="container pt-5">
    <div class="row">
        <div class="col-8">
            <h1 class="mt-4 mb-4 pt-5">Commande</h1>
                {{ form_start(form) }}
                    <input class="btn btn-outline-primary" type="submit" value="Valider">
                    {# <a href="{{ path('app_order') }}" class="btn btn-primary">Valider</a> #}
                {{ form_end(form) }}

                {# Ajout cours Jérémie #}
        </div>
        <div class="col-4 mt-5">Montant à payer :<span class="mb-2">
            <h3>
                <span id="card-price">{{ total }}</span>
            </h3>
                <span>Frais de livraison</span>
                {# cours Symfony #}
            <h3>
                <span id="shippingCost"></span>
                 €
            </h3>
                <span>Montant total à payer</span>
             <h3>
            <h3>
                <span class="total-price"></span>
                €
            </h3>
            </h3>
            <h3>
            {# Fait doublon avec le total price calculé via la requête ajax #}
                {# <span id='card-price'>{{ total }}</span> #}
                {# € #}
            </h3>
                {# <span>Frais de livraison</span> #}
        {# </span> #}
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>>
<script>
$(document).ready(function(){ // qd la page est chargée (doc est prêt), la fonction commence à être chargée et consommée
    const citySelector =$('#order_city'); // selectionne la balise html qui a id order_city (champs select pour choisir la ville) et la stocke ds const citySelector
    const cityValue = citySelector.val(); //recupère la valeur actuelle de citySelector (valeur selectionnée ds liste déroulante des villes) et le stocke ds la variable cityValue
    const url = `/city/${cityValue}/shipping/cost`; // on definit la valeur de la const url en fonction de la valeur de la ville (cityValue)
    // requête ajax
    function ajaxRequest(url){  // def d'une fonction qui prend en param une url
        
          $.ajax({      // envoie une requête AJAX
            url:url,    // requete url de type GET
            type:'GET', // Le type de la requête
            success:function(response){  // si succès 
                const newResponse = JSON.parse(response)  // on parse le json pour le rendre exploitable en html ou en string
                // On change
                if (parseInt(newResponse.status) === 200){  // on vérifie si ça fonctionne, code 200
                $("#shippingCost").text(newResponse.content) // on MAJ le contenu 

                const cardPrice = parseInt($('#card-price').text());
                const shippingCost = parseInt($('#shippingCost').text());
                $('.total-price').text(cardPrice+shippingCost);

                console.log(cardPrice)
                console.log(shippingCost)
                }
            },
            error:function(xhr,status,error){
            }
        })
    }
    // appel de la fonction
    ajaxRequest(url)

    citySelector.on('change', function(){  // en fonction de la ville, le contenu s'adapte
        const urlUpdate = `/city/${$(this).val()}/shipping/cost`;
        ajaxRequest(urlUpdate)
    })
  
})
</script>
{% endblock %}
