{% extends 'base.html.twig' %}

{% block title %}Liste des commandes{% endblock %}
{% block body %}
<div class="container">
   <div class="container pt-5">
    <h1 class="text-center mt-4 mb-4 pt-5">Liste des Commandes</h1>
    {% include 'layouts/flash_message.html.twig'%}    
 
 {% for order in orders %}
    <table class="table table-striped" >
        <thead class="table table-dark">
            <tr>
                {# <th>Date</th> #}
                <th>Nom</th>                        
                <th>Prénom</th>
                {# <th>Produits commandés</th> #}
                <th>Tél</th>
                <th>Adresse</th>
                <th>Ville</th>
                {# <th>total</th> #}
                {# <th>Image</th> #}
            </tr>
        </thead>
        <tbody>
       
            <h2>Commande n° {{ order.id }}</h2>
            {% if order.isCompleted == true %}
                <span class="text-success">Commande livrée</span>
                {% else %}
                <span class="text-danger">Commande non livrée</span>
            {% endif %} 
      
            <br>
            <span class="text-primary">Informations du client</span>
            <tr>
                {# <td>{{ order.datetime }}</td> #}
                <td>{{ order.lastname }}...</td>
                <td>{{ order.firstname }}</td>
                <td>{{ order.phone }}</td>
                <td>{{ order.address }}</td>
                <td>{{ order.city.name }}</td>

                {# <td>{{ order.total_price }}</td> #}      
            <span>Frais de livraisons : {{ order.city.shippingCost }} €</span>
            <h5 class='mb-5'>Total à payer : {{ order.city.shippingCost }} €</h5>
              {% if order.isCompleted != true %}
                 <a href="{{path('app_orders_is-completed-update', {'id':order.id})}}" class="btn btn-outline-primary col-2 m-lg-1">Marquer comme livrée</a> 
            {% endif %}
                  
            <a href="{{path ('app_orders_remove', {'id':order.id})}}" class="btn btn-outline-danger col-2 m-lg-1">Supprimer la commande</a>

            <a onclick="return confirm ('Voulez-vous vraiment supprimer cette commande ?')"></a>
            </tr>
        {% endfor %}


        </tbody>
    </table>
    

</div>
</div>
    </div>
    {{ knp_pagination_render(orders, 'layouts/paginator.html.twig') }}
</div>
{% endblock %}